@mixin evens() {
  &:nth-child(even) {
    @content;
  }
}
vessel {
  .container {
    padding: 10px;
    border-bottom: 1px solid rgba(213, 213, 213, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mid-content {
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}
