page-home {
  ion-content {
    display: flex;
    flex-direction: row;
  }
  .dashboard-info {
    background-color: red;
    width: 100%w;
    height: 250px;
    border-radius: 5;
    margin-bottom: 10px;
  }
  .row {
    display: flex;
  }
  .left-content {
    width: 60%;
    margin-right: 10px;
  }
  .right-content {
    flex: 1;
  }
}
