<ion-header>
  <ion-navbar>
    <ion-title>
      Project TAE
    </ion-title>
    <ion-buttons end>
        <button id="notification-button" ion-button icon-only (click)="goToNotifs()">
            <ion-icon name="notifications">
                <ion-badge *ngIf="notifications" id="notifications-badge" color="danger">{{notifications.length}}</ion-badge>
            </ion-icon>
        </button>
        <button ion-button icon-only (click)="logoutUser()">
            <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let vessel of vessels">
      <vessel [vessel]="vessel"></vessel>
    </div>
</ion-content>
