page-home {
  #notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible !important;
  }

  #notifications-badge {
    // background-color: red;
    position: absolute;
    top: -3px;
    right: 0px;
    border-radius: 100%;
    padding: 3px 6px;
  }
}
