notification {
  .notification {
    // display: flex;
    background-color: rgba(238, 237, 239, 1);
    // height: 50px;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 10px;
    align-items: center;
  }
  .text {
    color: rgba(69, 95, 109, 1);
  }
  .header {
    // display: flex;

    .text {
      color: rgba(31, 51, 64, 1);
      font-size: 1.4em;
      font-weight: 500;
    }
  }
}
