page-port-call {
  .actions {
    display: flex;
    flex: 1;

    .action-button {
      flex: 1;
      height: calc(50vh - 55px);
      background: rgba(31, 51, 64, 1.0);
      color: #fff;
      font-size: 1em;

      .button-inner {
        white-space: normal;
        display: inline;
      }
    }

    @media only screen and (max-width: 600px) {
      .action-button {
        height: calc(40vh - 5px);
      }
    }
  }

  .completed {
    color: green;
    text-align: center;

    p {
      font-size: 2.5em;
    }

    ion-icon {
      font-size: 3em;
    }
  }
}
